*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    width: 100vw;
    height: 10vh;
    background-color:rgba(232,228,221,255);
    display: flex;
    gap: 3vw;
}

.esquerda{
    display:flex;
}

.direita{
    display:flex;
}

.container{
    width: 100vw;
    min-height: 80vh;
    padding-top: 10vh;
    background-color: rgb(255, 250, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

table, thead, tbody{
    width: 80%;
}

tr, li{
    width:100%;
    min-height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(99, 98, 98);
}

th, td{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn{
    text-decoration:none;
    color: rgb(52, 61, 70);
    font-size: 1.5 rem;
    padding: 2px;
    font-weight: 600;
}

.btn:hover{
    text-decoration:none;
    background-color: rgb(202, 198, 191);
}

.btnv{
    text-decoration:none;
    background-color: rgba(224, 79, 79, 0.5);
    color: rgb(52, 61, 70);
    padding: 2px;
    margin: 2px;
}

.btnv:hover{
    text-decoration:none;
    background-color: rgb(243, 157, 157);
    color: rgb(52, 61, 70);
    padding: 2px;
    margin: 2px;
}

ul{
    list-style: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

form>p{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo{
    width: 8vw;
    height: 10vh;
}

.btnacesso{
    height: 100%;
    display: flex;
    align-items: center;
}

@media screen and (max-width:600px) {

    th td{
        width: 5vh;
        overflow: hidden;
    }
    .cat{
        display: none;
    }
    .btntab{
        display: flex;
        flex-direction: column;
    }
    .direita{
        flex-direction: column;
    }
}